.container {
  display: flex;
  height: 542px;
  background-color: black;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: white;
  border: 3px solid black;
}

.row {
  display: flex;
  height: auto;
  width: auto;
  font-family: 'Poiret One';
}

.picture-flex {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
}

.row:hover {
  img {
    opacity: 0.8;
  }
  .text-div {
    color: black;
  }
}

.picture-div {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0.5s;
}

.yellow {
  background: yellow;
}

.blue {
  background: blue;
}

.red {
  background: red;
}

img {
  transition: 0.5s;
  opacity: 0;
  display: block;
  width: 308px;
}

.text-div {
  transition: 0.5s;
  color: white;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border: 3px solid black;
}

@media screen and (max-width: 768px) {
  .empty-div {
    width: 222px;
  }
}

@media only screen and (max-width: 415px) {
  .container {
    height: 530px;
  }
  .wrapper {
    height: 530px;
  }

  .picture-flex {
    display: flex;
    flex-direction: column;
  }

  .picture-div {
    border-bottom: 6px solid black;
  }

  .empty-div {
    width: 155px;
  }

  .text-div {
    p {
      font-size: 1.1rem;
    }
  }
}

@media only screen and (max-width: 320px) {
  .container {
    height: 396px;
  }
  .wrapper {
    height: 396px;
  }

  .text-div {
    p {
      font-size: 0.6rem;
    }
  }
  .picture-flex {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
  }
  .picture-div {
    border-bottom: 6px solid black;
  }
  .empty-div {
    width: 55px;
  }
}
