.footer {
  background: black;
  padding: 0 6px;
  display: flex;
  justify-content: space-between;
  div {
    color: darkgray;
    font-family: 'Poiret One';
    width: 100%;
    margin-right: 1rem;
    p {
      margin: 0;
    }
    a {
      color: inherit;
      font-size: inherit;
      transition: 0.3s;
      .spam {
        visibility: visible;
      }
    }
    a:hover {
      color: white;
      font-size: 30px;
    }
  }
}

.title {
  color: white;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 80px;
  background-color: #2c2929;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  margin-left: -120px;
  top: -40px;
  opacity: 0;
  transition: opacity 0.7s;
  position: absolute;
  z-index: 1;
}

.tooltiptext::after {
  content: ' ';
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #2c2929 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip:hover {
  cursor: pointer;
}

.tooltip:active .tooltiptext {
  background: green;
}

.tooltip:active .tooltiptext:after {
  border-color: green transparent transparent transparent;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2rem;
    padding-bottom: 10px;
  }
  .footer {
    div {
      font-size: 1.5rem;
    }
  }
  .footer-div {
    margin-bottom: 30px;
  }
  .tooltiptext {
    display: none;
  }
}

@media screen and (max-width: 415px) {
  .footer {
    flex-direction: column;
    div {
      font-size: 1.2rem;
    }
  }
  .footer-div {
    margin-bottom: 15px;
  }

  .title {
    font-size: 1.4rem;
    padding: 0;
  }
  .tooltiptext {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .title {
    font-size: 1.2rem;
  }
  .footer {
    div {
      font-size: 1rem;
    }
  }
  .tooltiptext {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    flex-direction: column;
    div {
      font-size: 1rem;
    }
  }

  .footer-div {
    margin-bottom: 10px;
  }

  .title {
    font-size: 1.2rem;
    padding: 0;
  }

  .tooltiptext {
    display: none;
  }
}
