.container {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  height: 530px;
}

.row {
  display: flex;
  height: 50%;
  div {
    justify-content: center;
    text-align: center;
    h5 {
      font-size: 1.8rem;
      font-family: 'Poiret One';
      margin-bottom: 20px;
    }
    p {
      font-family: 'Poiret One';
      margin: -10px 10px;
    }
  }
}

.tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: green;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  margin-left: -180px;
  top: 485px;
  opacity: 0;
  transition: opacity 0.7s;
  position: absolute;
  z-index: 1;
}

.tooltiptext::after {
  content: ' ';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -6px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent green;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.square {
  border: 3px solid black;
  transition: 0.3s;
  color: transparent;
  display: flex;
  flex-direction: column;
}

.square:hover {
  background: white;
  color: black;
  width: 83%;
}

.red {
  background: var(--red);
  width: 65%;
  transition: 0.3s;
}

.blue {
  background: var(--blue);
  width: 35%;
}

.yellow {
  background: var(--yellow);
  width: 27%;
  transition: 0.5s;
}

.white {
  background: white;
  width: 73%;
}

@media screen and (max-width: 415px) {
  // .container {
  //   min-height: 496px;
  //   font-size: 1.5rem;
  // }
}

@media screen and (max-width: 320px) {
  .container {
    height: 400px;
  }
}
