.container {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  height: 530px;
}

.row {
  display: flex;
  height: 50%;
  div {
    justify-content: center;
    text-align: center;
    h5 {
      font-size: 30px;
      font-family: 'Poiret One';
      margin-bottom: 20px;
    }
    p {
      font-family: 'Poiret One';
      margin: -10px 10px;
    }
  }
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.square {
  border: 3px solid black;
  padding-top: 5rem;
  transition: 0.3s;
}

.square:hover {
  background: white;
  color: black;
  width: 83%;
}

.red {
  background: var(--red);
  color: var(--red);
  width: 65%;
  transition: 0.3s;
}

.blue {
  background: var(--blue);
  color: var(--blue);
  width: 35%;
}

.yellow {
  background: var(--yellow);
  color: var(--yellow);
  width: 27%;
  transition: 0.5s;
}

.white {
  background: white;
  color: white;
  width: 73%;
}
